@charset "utf-8";

/*
 * Author: guitarxhero
 */

/*@font-face
{
    font-family: 'fft';
    src: url('../fonts/');
}*/

body
{
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #008080;
    -webkit-user-select: none; /* 53 */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* IE Fixes */
img { border: 0; }

/*
 * Desktop
 */

#desktoparea
{
    position: fixed;
    height: 100vh;
    width: 100%;
}

#desktopversion
{
    color: white;
    text-shadow: 3px 3px 0px black;
    position: fixed;
    bottom: 20px;
    right: 5px;
    font-size: 1.2em;
    z-index: -1;
}

/*
 * Form related stuff.
 */

.atitlebar
{
    background: linear-gradient(to right, #00007B, #0884CE);
}

.ititlebar
{
    background: linear-gradient(to right, #7B7B7B, #ADADAD);
}

.atitlebar, .ititlebar
{
    height: 18px;
    margin: 0;
    padding: 0;
}

.atitlebar span, .ititlebar span
{
    color: white;
    font-size: 11px;
    position: absolute;
    margin: 3px 0 0 2px;
}

.atitlebar .windowicon,
.ititlebar .windowicon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 3px 1px 2px;
    padding: 0;
}

.window
{
    background:
    url('../images/window/topleft.png') no-repeat top left,
    url('../images/window/topright.png') no-repeat top right,
    url('../images/window/bottomleft.png') no-repeat bottom left,
    url('../images/window/bottomright.png') no-repeat bottom right,
    url('../images/window/left.png') repeat-y left,
    url('../images/window/right.png') repeat-y right,
    url('../images/window/bottom.png') repeat-x bottom,
    url('../images/window/top.png') repeat-x top;
    background-color: #C0C0C0;
    padding: 3px;
    min-width: 150px;
    min-height: 50px;
    position: fixed;
}

.windowarea
{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

/* Controlbox */

.ctrlboxbutton, .ctrlboxbuttonc
{
    float: right;
}

.ctrlboxbutton
{
    margin: 2px 0 0 0;
}

.ctrlboxbuttonc
{
    margin: 2px 2px 0 2px;
}

/* Form controls */

.menubar
{
    width: 100%;
}

.button
{
    background:
    url('../images/button/topright.png') no-repeat right top,
    url('../images/button/topleft.png') no-repeat left top,
    url('../images/button/bottomright.png') no-repeat right bottom,
    url('../images/button/bottomleft.png') no-repeat left bottom,
    url('../images/button/right.png') repeat-y right,
    url('../images/button/top.png') repeat-x top,
    url('../images/button/left.png') repeat-y left,
    url('../images/button/bottom.png') repeat-x bottom,
    #C0C0C0;
}

.buttondown
{
    background:
    url('../images/button/n.png') repeat-x top,
    url('../images/button/n.png') repeat-x bottom,
    url('../images/button/n.png') repeat-y left,
    url('../images/button/n.png') repeat-y right,
    #C0C0C0;
}

.button, .buttondown
{
    font-size: 12px;
    padding: 3px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}

.innerbutton
{
    border: 1px dotted black;
}

.terminal /* Command prompt */
{
    font-family: monospace;
    position: relative;
    margin: 0;
    color: #A8A8A8;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: 12px;
    color: white;
    background-color: black;
    border: 1px solid #808080;
    padding: 2px;
}

.input /* Textbox */
{
    display: inline-block;
    min-width: 1px;
    color: white;
}

/* -- Radio and checkbox -- */
label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    margin: 5px;
}
input[type=radio],
input[type=checkbox] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
    
    width: 16px;
    height: 16px;
    
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=radio] label:before,
input[type=checkbox] label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

/* MessageBox */

.msgboxMsg
{
    font-size: 11px;
    max-width: 300px;
    display: inline-block;
    margin: 20px 12px 12px 0;
    word-wrap: break-word;
}

.msgboxIcon
{
    width: 32px;
    height: 32px;
    margin: 12px;
    float: left;
}

/* Shutdown */

/*
.shutdownbg
{
    z-index: 8000000;
}
.shutdowndialog
{
    
}
*/
/*
 * Taskbar
 */

#taskbar
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 28px;
    background:
    url('../images/startmenu/bar2.png') repeat-x top;
    background-color: #C0C0C0;
    
    z-index: 4999999;
}

#startbutton
{
    display: inline-block;
    width: 54px;
    height: 22px;
    margin: 4px 0 2px 2px;
}

#taskbar .grip
{
    display: inline-block;
    width: 7px;
    height: 18px;
    margin: 0 4px 4px -5px;
    background: url('../images/startmenu/taskbarbuttonsep.png') no-repeat center;
}

#taskbar .minisep
{
    float: right;
    margin: 4px 2px;
    width: 0px;
    height: 22px;
    border-right: 1px solid white;
    border-left: 1px solid #87888F;
}

#taskbarcont
{
    position: fixed;
    display: inline-block;
    bottom: 2px;
}

#taskbarcont .taskbarbutton,
#taskbarcont .taskbarbuttonactive,
#taskbarcont .taskbarbuttondown
{
    margin-left: 3px;
}

.taskbarbutton
{
    background:
    url('../images/button/topright.png') no-repeat right top,
    url('../images/button/topleft.png') no-repeat left top,
    url('../images/button/bottomright.png') no-repeat right bottom,
    url('../images/button/bottomleft.png') no-repeat left bottom,
    url('../images/button/right.png') repeat-y right,
    url('../images/button/top.png') repeat-x top,
    url('../images/button/left.png') repeat-y left,
    url('../images/button/bottom.png') repeat-x bottom,
    #C0C0C0;
}

/*.taskbarbutton img
{
    width: 16px;
    height: 16px;
}*/

.taskbarbutton, .taskbarbuttondown, .taskbarbuttonactive
{
    display: inline-block;
    max-width: 160px;
    width: 160px;
    height: 22px;
}

/*
 * Start menu.
 */

#startmenu
{
    position: fixed;
    bottom: 24px;
    left: 2px;
    background:
    url('../images/startmenu/startmenu-top.png') no-repeat top center,
    url('../images/startmenu/startmenu-bottom-left.png') no-repeat left bottom,
    url('../images/startmenu/startmenu-left.png') repeat-y left,
    url('../images/startmenu/startmenu-bottom.png') no-repeat bottom,
    url('../images/startmenu/startmenu-right.png') repeat-y right,
    #C0C0C0;
    width: 176px;
    padding: 3px 3px 3px 24px;
    z-index: 5000000;
}

#startmenu>div
{
    display: block;
    color: black;
    margin: 0;
    width: 175px;
    height: 28px;
    font-size: 12px;
    text-decoration: none;
    padding: 4px 0px 0px 0px;
    cursor: default;
}

div#startmenu>div:hover:not(.sep)
{
    color: white;
    background-color: #000080;
    cursor: default;
}

div#startmenu img
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px 6px 0px 6px;
}

#startmenu span
{
    position: relative;
    top: -25%;
    font-size: 11px;
}

#startmenu .sep
{
    height: 8px;
    background: url('../images/startmenu/sep.png') no-repeat center;
}

.StartMenuFolder
{ 
    background: url('../images/misc/subfolder.png') no-repeat right center;
}

.StartMenuFolder:hover
{
    background: url('../images/misc/subfolderi.png') no-repeat right center;
}

/* OS Time */

#systray
{
    float: right;
    text-align: center;
    margin: 4px 2px;
    min-width: 72px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

/* Specials/Animations */

@keyframes spin
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}