@charset "utf-8";

/*
 * Author: guitarxhero
 */

/*@font-face
{
    font-family: 'fft';
    src: url('../fonts/');
}*/

body
{
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #008080;
    -webkit-user-select: none; /* 53 */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* IE Fixes */
img { border: 0; }

/*
 * Desktop
 */

#desktoparea
{
    position: fixed;
    height: 100vh;
    width: 100%;
}

#websimversion
{
    color: white;
    text-shadow: 3px 3px 0px black;
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: -1;
    font-size: 15px;
}

/*
 * Form related stuff.
 */

.atitlebar
{
    background: linear-gradient(to right, #00007B, #0884CE);
}

.ititlebar
{
    background: linear-gradient(to right, #7B7B7B, #ADADAD);
}

.atitlebar, .ititlebar
{
    height: 18px;
    margin: 0;
    padding: 0;
}

.atitlebar span, .ititlebar span
{
    color: white;
    font-size: 11px;
    position: absolute;
    margin: 3px 0 0 2px;
}

.atitlebar .windowicon,
.ititlebar .windowicon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 1px 3px 1px 2px;
    padding: 0;
}

.titlebartext
{
    font-weight: bold;
}

.window
{
    background:
    url('../images/window/topleft.png') no-repeat top left,
    url('../images/window/topright.png') no-repeat top right,
    url('../images/window/bottomleft.png') no-repeat bottom left,
    url('../images/window/bottomright.png') no-repeat bottom right,
    url('../images/window/left.png') repeat-y left,
    url('../images/window/right.png') repeat-y right,
    url('../images/window/bottom.png') repeat-x bottom,
    url('../images/window/top.png') repeat-x top, #C0C0C0;
    padding: 3px;
    min-width: 150px;
    min-height: 50px;
    position: fixed;
}

.windowarea
{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

/* Controlbox */

.ctrlboxbutton, .ctrlboxbuttonc
{
    float: right;
}

.ctrlboxbutton
{
    margin: 2px 0 0 0;
}

.ctrlboxbuttonc
{
    margin: 2px 2px 0 2px;
}

/* Form controls */

.menubar
{
    width: 100%;
}

.button
{
    background:
    url('../images/button/topright.png') no-repeat right top,
    url('../images/button/topleft.png') no-repeat left top,
    url('../images/button/bottomright.png') no-repeat right bottom,
    url('../images/button/bottomleft.png') no-repeat left bottom,
    url('../images/button/right.png') repeat-y right,
    url('../images/button/top.png') repeat-x top,
    url('../images/button/left.png') repeat-y left,
    url('../images/button/bottom.png') repeat-x bottom,
    #C0C0C0;
}

.buttondown
{
    background:
    url('../images/button/n.png') repeat-x top,
    url('../images/button/n.png') repeat-x bottom,
    url('../images/button/n.png') repeat-y left,
    url('../images/button/n.png') repeat-y right, #C0C0C0;
}

.buttondown .innerbutton
{
    border: 1px dotted black;
}

.button, .buttondown
{
    font-size: 12px;
    padding: 3px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    outline: none;
}

.innerbutton
{
    border: 1px dotted transparent;
}

.button:focus .innerbutton
{
    border: 1px dotted black;
}

.conscr
{
    font-family: monospace;
    position: relative;
    margin: 0;
    color: #A8A8A8;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: 12px;
    color: white;
    background-color: black;
    border: 1px solid #808080;
    padding: 2px;
}

.input /* Textbox */
{
    display: inline-block;
    min-width: 1px;
    color: white;
}

/* Radio and checkbox */
label {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    margin: 5px;
}
input[type=radio],
input[type=checkbox] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
    
    width: 16px;
    height: 16px;
    
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
input[type=radio] label:before,
input[type=checkbox] label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}

/* MessageBox */

.msgboxMsg
{
    font-size: 11px;
    max-width: 300px;
    display: inline-block;
    margin: 20px 12px 12px 0;
    word-wrap: break-word;
}

.msgboxIcon
{
    width: 32px;
    height: 32px;
    margin: 12px;
    float: left;
}

/* Shutdown */

/*
.shutdownbg
{
    z-index: 8000000;
}
.shutdowndialog
{
    
}
*/
/*
 * Taskbar
 */

#taskbar
{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 28px;
    background:
    url('../images/startmenu/bar2.png') repeat-x top, #C0C0C0;
    z-index: 5000000;
}

#startbutton
{
    display: inline-block;
    width: 54px;
    height: 22px;
    margin: 4px 0 2px 2px;
}

#taskbar .grip
{
    display: inline-block;
    width: 7px;
    height: 18px;
    margin: 0 4px 4px -5px;
    background: url('../images/startmenu/tb-grip.png') no-repeat center;
}

#taskbar .sep
{
    float: right;
    margin: 4px 2px;
    width: 0px;
    height: 22px;
    border-right: 1px solid white;
    border-left: 1px solid #87888F;
}

#maintoolbar
{
    position: fixed;
    display: inline-block;
    bottom: -4px;
    width: calc(100% - 155px);
}

/*.tb img
{
    width: 16px;
    height: 16px;
}*/

#maintoolbar .tb,
#maintoolbar .tb-focus,
#maintoolbar .tb-down
{
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    margin: 0 3px 3px 0;
    height: 22px;
    width: 160px;
    font-size: 11px;
    line-height: 18px;
}

#maintoolbar .tb span, #maintoolbar .tb img,
#maintoolbar .tb-focus span, #maintoolbar .tb-focus img,
#maintoolbar .tb-down span, #maintoolbar .tb-down img
{
    float: left;
    margin: 3px 0 3px 3px;
}

#maintoolbar .tb
{
    background:
    url('../images/button/topright.png') no-repeat right top,
    url('../images/button/topleft.png') no-repeat left top,
    url('../images/button/bottomright.png') no-repeat right bottom,
    url('../images/button/bottomleft.png') no-repeat left bottom,
    url('../images/button/right.png') repeat-y right,
    url('../images/button/top.png') repeat-x top,
    url('../images/button/left.png') repeat-y left,
    url('../images/button/bottom.png') repeat-x bottom, #C0C0C0;
}

#maintoolbar .tb-focus
{
    background:
    url('../images/tb/tb-ur.png') no-repeat right top,
    url('../images/tb/tb-ul.png') no-repeat left top,
    url('../images/tb/tb-br.png') no-repeat right bottom,
    url('../images/tb/tb-bl.png') no-repeat left bottom,
    url('../images/tb/tb-r.png') repeat-y right,
    url('../images/tb/tb-u.png') repeat-x top,
    url('../images/tb/tb-l.png') repeat-y left,
    url('../images/tb/tb-b.png') repeat-x bottom,
    url('../images/tb/tb-d.png') repeat;
}

#maintoolbar .tb-focus span
{
    font-weight: bolder;
}

#maintoolbar .tb-focus img
{
    margin-top: 4px;
}

#maintoolbar .tb-down
{
    background:
    url('../images/tb/ptb-tr.png') no-repeat right top,
    url('../images/tb/ptb-tl.png') no-repeat left top,
    url('../images/tb/ptb-br.png') no-repeat right bottom,
    url('../images/tb/ptb-bl.png') no-repeat left bottom,
    url('../images/tb/ptb-r.png') repeat-y right,
    url('../images/tb/ptb-t.png') repeat-x top,
    url('../images/tb/ptb-l.png') repeat-y left,
    url('../images/tb/ptb-b.png') repeat-x bottom, #C0C0C0;
}

/*
 * Start menu.
 */

#startmenu
{
    position: fixed;
    bottom: 24px;
    left: 2px;
    background:
    url('../images/startmenu/sm-ur.png') no-repeat top right,
    url('../images/startmenu/sm-ul.png') no-repeat top left,
    url('../images/startmenu/sm-u.png') repeat-x top,
    url('../images/startmenu/sm-bl.png') no-repeat left bottom,
    url('../images/startmenu/sm-l.png') repeat-y left,
    url('../images/startmenu/sm-b.png') repeat-x bottom,
    url('../images/startmenu/sm-br.png') no-repeat bottom right,
    url('../images/startmenu/sm-r.png') repeat-y right, #C0C0C0;
    width: 186px;
    padding: 3px 3px 3px 24px;
    z-index: 5000001;
}

#startmenu>div
{
    color: black;
    margin: 0;
    height: 28px;
    font-size: 12px;
    text-decoration: none;
    padding-top: 4px;
}

#startmenu>div:hover:not(.sep)
{
    color: white;
    background-color: #000080;
    cursor: default;
}

#startmenu img
{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px 6px;
}

#startmenu span
{
    position: relative;
    top: -25%;
    font-size: 11px;
}

#startmenu .sep
{
    height: 0;
    margin: 3px 2px;
    padding: 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid white;
    /*background: url('../images/startmenu/sep.png') no-repeat center;*/
}

#startmenu .folder
{
    background: url('../images/misc/subfolder.png') no-repeat right center;
}

#startmenu .folder:hover
{
    background: url('../images/misc/subfolderi.png') no-repeat right center;
}

/* OS Time */

#systray
{
    float: right;
    text-align: center;
    margin: 4px 2px;
    min-width: 72px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

/* Specials/Animations */

@keyframes spin
{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}